div[class*="col-sm-"]{
    background-color: white;
    margin: 0px 0px 20px 0;
  }

  nav {
    color: white;
  }


  /* #row1{
    flex-wrap: unset;
  } */


.img-thumbnail {
  margin-right: 30px;
}
